<a href="https://colab.research.google.com/github/mini3713/mini3713/blob/main/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D%2B%EB%94%A5%EB%9F%AC%EB%8B%9D/XGBoost_05_XGBoost_Unveiled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**5 XGBoost 소개**
=================

5.1 XGBoost 모델 만들기 
====================

> ### 붓꽃 데이터셋 - 분류

In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets
iris = datasets.load_iris()

In [2]:
df = pd.DataFrame(data=np.c_[iris['data'], iris['target']], columns=iris['feature_names'] + ['target'])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(iris['data'], iris['target'], random_state=2)

In [4]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [5]:
xgb = XGBClassifier(booster='gbtree', objective='multi:softprob', max_depth=6, learning_rate=0.1, n_estimators=100, n_jobs=-1)
# booster는 기본학습기, gbtree는 그레이디언트 부스팅, 다른학습기는 8장에서
# objective는 목적함수, 이 함수를 통해 출력된 값이 최소가 되는 방향으로 학습 
# objective는 이진분류일때 binary:logistic, 다중분류는 multi:softmax(클래스 레이블 반환), softprob(클래스 확률 반환)
# learning_rate는 지정된 비율로 각 트리의 가중치를 감소시켜 분산을 억제
xgb.fit(X_train, y_train)
y_pred = xgb.predict(X_test)
score = accuracy_score(y_pred, y_test)
print('점수: ' + str(score))

점수: 0.9736842105263158

> ### 당뇨병 데이터셋 - 회귀

In [11]:
# 데이터셋으로부터 입력값과 타깃값을 생성
X, y = datasets.load_diabetes(return_X_y=True)

In [16]:
from sklearn.model_selection import cross_val_score
from xgboost import XGBRegressor
xgb = XGBRegressor(booster='gbtree', objective='reg:squarederror', max_depth=6, learning_rate=0.1, n_estimators=100, n_jobs=-1)
# 목적함수는 MSE 평균제곱오차
scores = cross_val_score(xgb, X, y, scoring='neg_mean_squared_error', cv=5)
rmse = np.sqrt(-scores)
print('RMSE:', np.round(rmse, 3))
print('RMSE 평균: %0.3f' % (rmse.mean()))

RMSE: [63.033 59.689 64.538 63.699 64.661]
RMSE 평균: 63.124

In [17]:
pd.DataFrame(y).describe()
# rmse가 1 표준편차 이내이므로 괜찮은 결과라고 할 수 있다

                0
count  442.000000
mean   152.133484
std     77.093005
min     25.000000
25%     87.000000
50%    140.500000
75%    211.500000
max    346.000000