<a href="https://colab.research.google.com/github/mini3713/mini3713/blob/main/machine%20learning%20%26%20deep%20learning/XGBoost_10_XGBoost_Model_Deployment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**10 XGBoost 모델 배포**
=================

10.1 혼합 데이터 인코딩
====================
학생 성적을 예측하기위한 데이터 인코딩

> ### 데이터 로딩

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv('/content/student-por.csv')
df.head()

  school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
0  GP;NaN;18;"U";"GT3";"A";4;4;"at_home";"teacher...
1  GP;"F";NaN;"U";"GT3";"T";1;1;"at_home";"other"...
2  GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3  GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4  GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...

In [ ]:
df = pd.read_csv('/content/student-por.csv', sep=';')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

> ### 누락된 값 처리

In [ ]:
df.isnull().sum()

school        0
sex           1
age           1
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      1
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [ ]:
df[df.isna().any(axis=1)]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11

In [ ]:
# 중간에 있는 누락된 값 확인하기 위해 옵션 변경
pd.options.display.max_columns = None

In [ ]:
df[df.isna().any(axis=1)]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,course,NaN,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11

In [ ]:
# XGBoost 모델이 누락된 값으로 인식하도록 age 를 -999.0 으로 채우기
df['age'] = df['age'].fillna(-999.0)

In [ ]:
# 범주형 특성 누락된 값을 최빈값으로 채우기
df['sex'] = df['sex'].fillna(df['sex'].mode())
df['guardian'] = df['guardian'].fillna(df['guardian'].mode())

In [ ]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,-999.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

> ### 원-핫 인코딩
> * 범주형 특성을 수치 특성으로 변환 
> * pd.get_dummies()의 단점은 계산비용이 많이 들고, 사이킷런의 파이프라인에 통합되지 않는다 
> * 이러한 단점 때문에 사이킷런의 OneHotEncoder 클래스를 사용한다

In [ ]:
# 데이터 타입이 수치형이 아닌 object형인 열을 생성
categorical_columns = df.columns[df.dtypes==object].tolist()
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()

In [ ]:
# 범주형 열을 변환
hot = ohe.fit_transform(df[categorical_columns])
# 추가적으로 희소행렬을 밀집행렬로 변환 
# 희소행렬 : 원소에 비교적 0이 많은 행렬, 1보다 0이 많은 행렬
# 희소행렬은 불필요한 0으로 인해 메모리 낭비가 심함 
# 밀집행렬 : 희소행렬과 반대
hot_df = pd.DataFrame(hot.toarray())
hot_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0

In [ ]:
hot
# 649*43 = 27,907

<649x43 sparse matrix of type '<class 'numpy.float64'>'
	with 11033 stored elements in Compressed Sparse Row format>

> ### 원핫 인코딩된 특성과 수치 특성 합치기

In [ ]:
# 수치열 추출
cold_df = df.select_dtypes(exclude=["object"])
cold_df.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,18.0,4,4,2,2,0,4,3,4,1,1,3,4,0,11,11
1,-999.0,1,1,1,2,0,5,3,3,1,1,3,2,9,11,11
2,15.0,1,1,1,2,0,4,3,2,2,3,3,6,12,13,12
3,15.0,4,2,1,3,0,3,2,2,1,1,5,0,14,14,14
4,16.0,3,3,1,2,0,4,3,2,1,2,5,0,11,13,13

In [ ]:
# 수치형 데이터프레임을 희소행렬로 변환 
from scipy.sparse import csr_matrix
cold = csr_matrix(cold_df)
# hot 데이터와 cold 데이터를 수평으로 연결
from scipy.sparse import hstack
final_sparse_matrix = hstack((hot, cold))

In [ ]:
# final_sparse_matrix를 밀집행렬로 변환한다음 데이터프레임으로 변환
final_df = pd.DataFrame(final_sparse_matrix.toarray())
final_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,18.0,4.0,4.0,2.0,2.0,0.0,4.0,3.0,4.0,1.0,1.0,3.0,4.0,0.0,11.0,11.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,-999.0,1.0,1.0,1.0,2.0,0.0,5.0,3.0,3.0,1.0,1.0,3.0,2.0,9.0,11.0,11.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,15.0,1.0,1.0,1.0,2.0,0.0,4.0,3.0,2.0,2.0,3.0,3.0,6.0,12.0,13.0,12.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,15.0,4.0,2.0,1.0,3.0,0.0,3.0,2.0,2.0,1.0,1.0,5.0,0.0,14.0,14.0,14.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,16.0,3.0,3.0,1.0,2.0,0.0,4.0,3.0,2.0,1.0,2.0,5.0,0.0,11.0,13.0,13.0

10.2 사용자 정의 사이킷런 변환기
====================
데이터프레임을 희소 행렬로 변환하는 과정을 사이킷런 변환기로 일반화하면 새로운 데이터에도 쉽게 적용할 수 있다

> ### 사용자 정의 변환기

> **여러종류의 누락된 값을 대체하는 변환기**

In [ ]:
# 사용자 정의 변환기를 만드는 이유는 특성마다 누락된 값을 처리하는 방식이 다르기 때문
from sklearn.base import TransformerMixin 

class NullValueImputer(TransformerMixin):
    def __init__(self):
        None

    # X,y를 입력으로 받고 self를 반환하는 fit() 매서드
    def fit(self, X, y=None):
        return self
        
    # X,y를 입력으로 받고 새로운 X로 변환하여 반환하는 transform() 매서드
    def transform(self, X, y=None):
        for column in X.columns.tolist():    # X열을 순회
            if column in X.columns[X.dtypes==object].tolist():    # 범주형열 찾기
                X[column] = X[column].fillna(X[column].mode())    # 최빈값으로 채우기
            else:
                X[column]=X[column].fillna(-999.0)       # 누락된 값 -999.0으로 바꾸기 
        return X

In [ ]:
df = pd.read_csv('/content/student-por.csv', sep=';')
nvi = NullValueImputer().fit_transform(df)
nvi.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,-999.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

> 변환기를 생성하지 않아도, ColumnTransformer 클래스와 SimpleImputer 클래스를 사용해도 동일한 작업 수행이 가능

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [ ]:
# SimpleImputer클래스의 strategy 매개변수에서 누락된 값을 처리하는 방식 지정
# 기본값은 'mean' 그외에 'median', 'most_frequent', 임의의 값을 지정하는 'constant'가 있다 
mode_imputer = SimpleImputer(strategy='most_frequent')                     # 범주형
const_imputer = SimpleImputer(strategy='constant', fill_value=-999.0)      # 수치형

In [ ]:
numeric_columns = df.columns[df.dtypes!=object].tolist()

In [ ]:
ct = ColumnTransformer([('str', mode_imputer, categorical_columns),
                        ('num', const_imputer, numeric_columns)])

In [ ]:
new_df = pd.DataFrame(ct.fit_transform(df), columns=categorical_columns+numeric_columns)
new_df = new_df[df.columns]
new_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18.0,U,GT3,A,4.0,4.0,at_home,teacher,course,mother,2.0,2.0,0.0,yes,no,no,no,yes,yes,no,no,4.0,3.0,4.0,1.0,1.0,3.0,4.0,0.0,11.0,11.0
1,GP,F,-999.0,U,GT3,T,1.0,1.0,at_home,other,course,father,1.0,2.0,0.0,no,yes,no,no,no,yes,yes,no,5.0,3.0,3.0,1.0,1.0,3.0,2.0,9.0,11.0,11.0
2,GP,F,15.0,U,LE3,T,1.0,1.0,at_home,other,other,mother,1.0,2.0,0.0,yes,no,no,no,yes,yes,yes,no,4.0,3.0,2.0,2.0,3.0,3.0,6.0,12.0,13.0,12.0
3,GP,F,15.0,U,GT3,T,4.0,2.0,health,services,home,mother,1.0,3.0,0.0,no,yes,no,yes,yes,yes,yes,yes,3.0,2.0,2.0,1.0,1.0,5.0,0.0,14.0,14.0,14.0
4,GP,F,16.0,U,GT3,T,3.0,3.0,other,other,home,father,1.0,2.0,0.0,no,yes,no,no,yes,yes,no,no,4.0,3.0,2.0,1.0,2.0,5.0,0.0,11.0,13.0,13.0

> **여러종류의 특성으로 구성된 데이터를 원핫 인코딩하기**

In [ ]:
class SparseMatrix(TransformerMixin):
    
    def __init__(self):
      self.ohe = OneHotEncoder()

    def fit(self, X, y=None):
      self.categorical_columns = X.columns[X.dtypes==object].tolist()
      self.ohe.fit(X[self.categorical_columns])
      return self

    def transform(self, X, y=None):
      hot = self.ohe.transform(X[self.categorical_columns])
      cold_df = X.select_dtypes(exclude=["object"])  # 수치형데이터 추출
      cold = csr_matrix(cold_df)                     # 희소행렬로 변환
      final_sparse_matrix = hstack((hot, cold))      # 두희소행렬을 합쳐준다
      return final_sparse_matrix

In [ ]:
sm = SparseMatrix().fit_transform(nvi)
print(sm)

  (0, 0)	1.0
  (0, 2)	1.0
  (0, 5)	1.0
  (0, 6)	1.0
  (0, 8)	1.0
  (0, 10)	1.0
  (0, 19)	1.0
  (0, 20)	1.0
  (0, 25)	1.0
  (0, 28)	1.0
  (0, 29)	1.0
  (0, 31)	1.0
  (0, 33)	1.0
  (0, 36)	1.0
  (0, 38)	1.0
  (0, 39)	1.0
  (0, 41)	1.0
  (1, 0)	1.0
  (1, 2)	1.0
  (1, 5)	1.0
  (1, 6)	1.0
  (1, 9)	1.0
  (1, 10)	1.0
  (1, 17)	1.0
  (1, 20)	1.0
  :	:
  (647, 49)	2.0
  (647, 50)	4.0
  (647, 51)	5.0
  (647, 52)	3.0
  (647, 53)	4.0
  (647, 54)	2.0
  (647, 55)	6.0
  (647, 56)	10.0
  (647, 57)	10.0
  (647, 58)	10.0
  (648, 43)	18.0
  (648, 44)	3.0
  (648, 45)	2.0
  (648, 46)	3.0
  (648, 47)	1.0
  (648, 49)	4.0
  (648, 50)	4.0
  (648, 51)	1.0
  (648, 52)	3.0
  (648, 53)	4.0
  (648, 54)	5.0
  (648, 55)	4.0
  (648, 56)	10.0
  (648, 57)	11.0
  (648, 58)	11.0

In [ ]:
# 희소행렬을 다시 밀집행렬로 변환
sm_df = pd.DataFrame(sm.toarray())
sm_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,18.0,4.0,4.0,2.0,2.0,0.0,4.0,3.0,4.0,1.0,1.0,3.0,4.0,0.0,11.0,11.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,-999.0,1.0,1.0,1.0,2.0,0.0,5.0,3.0,3.0,1.0,1.0,3.0,2.0,9.0,11.0,11.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,15.0,1.0,1.0,1.0,2.0,0.0,4.0,3.0,2.0,2.0,3.0,3.0,6.0,12.0,13.0,12.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,15.0,4.0,2.0,1.0,3.0,0.0,3.0,2.0,2.0,1.0,1.0,5.0,0.0,14.0,14.0,14.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,16.0,3.0,3.0,1.0,2.0,0.0,4.0,3.0,2.0,1.0,2.0,5.0,0.0,11.0,13.0,13.0

> 원핫 인코딩 또한 ColumnTransformer로 처리할 수 있다

In [ ]:
# remainder 매개변수의 기본값은 'drop'으로 사용하지 않는 특성은 삭제하지만, 
# 'passthrough'로 지정하면 그대로 포함시킬 수 있다
ct2 = ColumnTransformer([('ohe', OneHotEncoder(), categorical_columns)], remainder='passthrough')
ct2.fit(new_df)
oh_columns = ct2.named_transformers_['ohe'].get_feature_names_out()

In [ ]:
import numpy as np
new_df2 = pd.DataFrame(ct2.transform(new_df), columns=np.append(oh_columns, numeric_columns))
new_df2.head()

,school_GP,school_MS,sex_F,sex_M,address_R,address_U,famsize_GT3,famsize_LE3,Pstatus_A,Pstatus_T,Mjob_at_home,Mjob_health,Mjob_other,Mjob_services,Mjob_teacher,Fjob_at_home,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other,schoolsup_no,schoolsup_yes,famsup_no,famsup_yes,paid_no,paid_yes,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,18.0,4.0,4.0,2.0,2.0,0.0,4.0,3.0,4.0,1.0,1.0,3.0,4.0,0.0,11.0,11.0
1,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,-999.0,1.0,1.0,1.0,2.0,0.0,5.0,3.0,3.0,1.0,1.0,3.0,2.0,9.0,11.0,11.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,15.0,1.0,1.0,1.0,2.0,0.0,4.0,3.0,2.0,2.0,3.0,3.0,6.0,12.0,13.0,12.0
3,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,15.0,4.0,2.0,1.0,3.0,0.0,3.0,2.0,2.0,1.0,1.0,5.0,0.0,14.0,14.0,14.0
4,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,16.0,3.0,3.0,1.0,2.0,0.0,4.0,3.0,2.0,1.0,2.0,5.0,0.0,11.0,13.0,13.0

> **전처리 파이프라인 만들기**

In [ ]:
df = pd.read_csv('/content/student-por.csv', sep=';')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,NaN,18.0,U,GT3,A,4,4,at_home,teacher,course,NaN,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,NaN,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [ ]:
# G1은 중간성적, G2는 기말성적이지만 본 모델에서는 G3 최종성적만 사용하였다
from sklearn.model_selection import train_test_split
y = df.iloc[:, -1]
X = df.iloc[:, :-3]
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)

In [ ]:
# 파이프라인 생성
from sklearn.pipeline import Pipeline
data_pipeline = Pipeline([('null_imputer', NullValueImputer()), ('sparse', SparseMatrix())])
X_train_transformed = data_pipeline.fit_transform(X_train).toarray()

10.3 XGBoost 모델 만들기
====================
XGBoost 모델을 만들어 파이프라인에 추가해보는 실습

> ### 첫 번째 XGBoost 모델

In [ ]:
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import mean_squared_error as MSE
from xgboost import XGBRegressor

In [ ]:
y_train.value_counts()

11    82
10    75
13    58
12    53
14    42
15    36
9     29
16    27
8     26
17    24
18    14
0     10
7      7
6      1
19     1
5      1
Name: G3, dtype: int64

In [ ]:
# 타깃값이 순서가 있는 숫자이기 때문에 분류보다는 회귀로 접근
kfold = KFold(n_splits=5, shuffle=True, random_state=2)

# 평균 제곱근 오차를 사용해 교차 검증 점수를 계산하는 함수를 정의
def cross_val(model):
    scores = cross_val_score(model, X_train_transformed, y_train, scoring='neg_root_mean_squared_error', cv=kfold)
    rmse = (-scores.mean())
    return rmse

In [ ]:
cross_val(XGBRegressor(missing=-999.0))

[08:16:39] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[08:16:39] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[08:16:39] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[08:16:39] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[08:16:39] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

2.7452680330055954

> ### 회귀모델의 예측구간 계산하기 << 추후에 추가

> ### XGBoost 하이퍼파라미터 튜닝

In [ ]:
# 조기종료를 사용해 n_estimators부터 튜닝
# 조기종료를 사용하기 위해 검증세트를 제공해야하기 때문에 X_train, y_train 을 한번더 분할해준다
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_train_transformed, y_train, random_state=2)

In [ ]:
# 조기종료를 사용해 최적의 트리개수를 결정하는 함수 생성 
def n_estimators(model):
  eval_set = [(X_test_2, y_test_2)]
  eval_metric='rmse'
  model.fit(X_train_2, y_train_2, eval_metric=eval_metric, eval_set=eval_set, early_stopping_rounds=100)
  y_pred = model.predict(X_test_2)
  rmse = MSE(y_test_2, y_pred)**0.5
  return rmse

In [ ]:
n_estimators(XGBRegressor(n_estimators=5000, missing=-999.0))

[08:22:45] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:10.6053
Will train until validation_0-rmse hasn't improved in 100 rounds.
[1]	validation_0-rmse:9.62035
[2]	validation_0-rmse:8.74792
[3]	validation_0-rmse:7.97817
[4]	validation_0-rmse:7.28649
[5]	validation_0-rmse:6.68293
[6]	validation_0-rmse:6.15832
[7]	validation_0-rmse:5.68457
[8]	validation_0-rmse:5.2865
[9]	validation_0-rmse:4.91115
[10]	validation_0-rmse:4.61207
[11]	validation_0-rmse:4.34764
[12]	validation_0-rmse:4.12113
[13]	validation_0-rmse:3.92878
[14]	validation_0-rmse:3.77603
[15]	validation_0-rmse:3.63245
[16]	validation_0-rmse:3.50531
[17]	validation_0-rmse:3.40814
[18]	validation_0-rmse:3.31759
[19]	validation_0-rmse:3.2433
[20]	validation_0-rmse:3.18486
[21]	validation_0-rmse:3.13762
[22]	validation_0-rmse:3.10825
[23]	validation_0-rmse:3.08358
[24]	validation_0-rmse:3.06351
[25]	validation_0-rmse:3.04194
[26]	validation_0-rmse:3.02564
[27]	validation_0-rmse:3.00204
[28]	validation_0-rmse:2.99098
[29]	validation_0-rmse:2.97997
[30]	validation_0-rmse:2.97706
[31]	validation_0-rmse:2.96864
[32]	validation_0-rmse:2.96149
[33]	validation_0-rmse:2.95554
[34]	validation_0-rmse:2.9437
[35]	validation_0-rmse:2.92691
[36]	validation_0-rmse:2.9234
[37]	validation_0-rmse:2.92244
[38]	validation_0-rmse:2.92507
[39]	validation_0-rmse:2.92627
[40]	validation_0-rmse:2.91473
[41]	validation_0-rmse:2.9124
[42]	validation_0-rmse:2.91291
[43]	validation_0-rmse:2.90729
[44]	validation_0-rmse:2.89832
[45]	validation_0-rmse:2.90254
[46]	validation_0-rmse:2.90412
[47]	validation_0-rmse:2.90809
[48]	validation_0-rmse:2.90409
[49]	validation_0-rmse:2.90155
[50]	validation_0-rmse:2.90022
[51]	validation_0-rmse:2.90098
[52]	validation_0-rmse:2.90321
[53]	validation_0-rmse:2.89874
[54]	validation_0-rmse:2.89568
[55]	validation_0-rmse:2.89761
[56]	validation_0-rmse:2.89437
[57]	validation_0-rmse:2.89809
[58]	validation_0-rmse:2.89689
[59]	validation_0-rmse:2.89119
[60]	validation_0-rmse:2.89318
[61]	validation_0-rmse:2.89296
[62]	validation_0-rmse:2.89283
[63]	validation_0-rmse:2.88813
[64]	validation_0-rmse:2.89103
[65]	validation_0-rmse:2.89145
[66]	validation_0-rmse:2.89222
[67]	validation_0-rmse:2.88995
[68]	validation_0-rmse:2.89127
[69]	validation_0-rmse:2.88564
[70]	validation_0-rmse:2.88992
[71]	validation_0-rmse:2.88828
[72]	validation_0-rmse:2.88406
[73]	validation_0-rmse:2.88333
[74]	validation_0-rmse:2.88553
[75]	validation_0-rmse:2.88651
[76]	validation_0-rmse:2.88443
[77]	validation_0-rmse:2.88773
[78]	validation_0-rmse:2.88727
[79]	validation_0-rmse:2.88657
[80]	validation_0-rmse:2.88793
[81]	validation_0-rmse:2.88713
[82]	validation_0-rmse:2.88925
[83]	validation_0-rmse:2.88688
[84]	validation_0-rmse:2.88721
[85]	validation_0-rmse:2.88255
[86]	validation_0-rmse:2.88547
[87]	validation_0-rmse:2.88515
[88]	validation_0-rmse:2.88651
[89]	validation_0-rmse:2.88855
[90]	validation_0-rmse:2.88729
[91]	validation_0-rmse:2.88805
[92]	validation_0-rmse:2.88288
[93]	validation_0-rmse:2.88317
[94]	validation_0-rmse:2.88827
[95]	validation_0-rmse:2.89191
[96]	validation_0-rmse:2.89414
[97]	validation_0-rmse:2.89347
[98]	validation_0-rmse:2.89476
[99]	validation_0-rmse:2.90071
[100]	validation_0-rmse:2.90054
[101]	validation_0-rmse:2.8965
[102]	validation_0-rmse:2.89166
[103]	validation_0-rmse:2.88908
[104]	validation_0-rmse:2.8841
[105]	validation_0-rmse:2.88631
[106]	validation_0-rmse:2.88903
[107]	validation_0-rmse:2.88885
[108]	validation_0-rmse:2.89279
[109]	validation_0-rmse:2.89328
[110]	validation_0-rmse:2.89471
[111]	validation_0-rmse:2.88935
[112]	validation_0-rmse:2.88566
[113]	validation_0-rmse:2.88682
[114]	validation_0-rmse:2.88585
[115]	validation_0-rmse:2.88706
[116]	validation_0-rmse:2.88417
[117]	validation_0-rmse:2.88376
[118]	validation_0-rmse:2.88837
[119]	validation_0-rmse:2.88559
[120]	validation_0-rmse:2.8869
[121]	validation_0-rmse:2.88976
[122]	validation_0-rmse:2.88916
[123]	validation_0-rmse:2.88686
[124]	validation_0-rmse:2.88982
[125]	validation_0-rmse:2.88917
[126]	validation_0-rmse:2.88757
[127]	validation_0-rmse:2.88694
[128]	validation_0-rmse:2.88747
[129]	validation_0-rmse:2.88911
[130]	validation_0-rmse:2.88888
[131]	validation_0-rmse:2.88472
[132]	validation_0-rmse:2.88654
[133]	validation_0-rmse:2.88556
[134]	validation_0-rmse:2.88471
[135]	validation_0-rmse:2.88621
[136]	validation_0-rmse:2.88267
[137]	validation_0-rmse:2.88454
[138]	validation_0-rmse:2.88696
[139]	validation_0-rmse:2.88933
[140]	validation_0-rmse:2.89296
[141]	validation_0-rmse:2.89504
[142]	validation_0-rmse:2.89223
[143]	validation_0-rmse:2.89484
[144]	validation_0-rmse:2.89787
[145]	validation_0-rmse:2.89971
[146]	validation_0-rmse:2.90197
[147]	validation_0-rmse:2.89993
[148]	validation_0-rmse:2.90226
[149]	validation_0-rmse:2.9057
[150]	validation_0-rmse:2.90342
[151]	validation_0-rmse:2.90444
[152]	validation_0-rmse:2.90864
[153]	validation_0-rmse:2.91023
[154]	validation_0-rmse:2.90958
[155]	validation_0-rmse:2.91226
[156]	validation_0-rmse:2.91325
[157]	validation_0-rmse:2.91379
[158]	validation_0-rmse:2.91354
[159]	validation_0-rmse:2.91408
[160]	validation_0-rmse:2.91481
[161]	validation_0-rmse:2.91221
[162]	validation_0-rmse:2.91439
[163]	validation_0-rmse:2.91477
[164]	validation_0-rmse:2.91241
[165]	validation_0-rmse:2.91212
[166]	validation_0-rmse:2.91283
[167]	validation_0-rmse:2.91526
[168]	validation_0-rmse:2.91375
[169]	validation_0-rmse:2.9115
[170]	validation_0-rmse:2.91389
[171]	validation_0-rmse:2.91437
[172]	validation_0-rmse:2.91383
[173]	validation_0-rmse:2.91365
[174]	validation_0-rmse:2.91393
[175]	validation_0-rmse:2.91383
[176]	validation_0-rmse:2.91715
[177]	validation_0-rmse:2.92226
[178]	validation_0-rmse:2.92277
[179]	validation_0-rmse:2.92297
[180]	validation_0-rmse:2.92066
[181]	validation_0-rmse:2.92198
[182]	validation_0-rmse:2.92226
[183]	validation_0-rmse:2.92177
[184]	validation_0-rmse:2.92169
[185]	validation_0-rmse:2.91978
Stopping. Best iteration:
[85]	validation_0-rmse:2.88255

2.8825466337584627

In [ ]:
def grid_search(params, reg=XGBRegressor(missing=-999.0,objective='reg:squarederror')):
  grid_reg = GridSearchCV(reg, params, scoring='neg_mean_squared_error', cv=kfold)
  grid_reg.fit(X_train_transformed, y_train)
  best_params = grid_reg.best_params_
  print("최상의 매개변수:", best_params)
  best_score = np.sqrt(-grid_reg.best_score_)
  print("최상의 점수:", best_score)

In [ ]:
# 최상의 모델 85부터 시작
grid_search(params={'max_depth':[1,2,3,4,5,6,7,8], 'n_estimators':[85]})

최상의 매개변수: {'max_depth': 2, 'n_estimators': 85}
최상의 점수: 2.668260727911112

In [ ]:
grid_search(params={'max_depth':[1, 2], 
                    'min_child_weight':[1,2,3,4,5],
                    'n_estimators':[85]})

최상의 매개변수: {'max_depth': 2, 'min_child_weight': 4, 'n_estimators': 85}
최상의 점수: 2.656571647160243

In [ ]:
grid_search(params={'max_depth':[2], 
                    'min_child_weight':[6,7,8,9,10],
                    'subsample':[0.5, 0.6, 0.7, 0.8, 0.9],
                    'n_estimators':[85, 100]})

최상의 매개변수: {'max_depth': 2, 'min_child_weight': 10, 'n_estimators': 85, 'subsample': 0.9}
최상의 점수: 2.6108326656016096

> ### 모델 테스트

In [ ]:
# 테스트세트 변환
X_test_transformed = data_pipeline.fit_transform(X_test).toarray()

In [ ]:
model = XGBRegressor(max_depth=2,
                     min_child_weight=10,
                     n_estimators=85,
                     subsmaple=0.9,
                     missing=-999.0)
model.fit(X_train_transformed, y_train)
y_pred = model.predict(X_test_transformed)
rmse = MSE(y_pred, y_test)**0.5
rmse

[08:40:15] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

2.8199039957935814

In [ ]:
model = XGBRegressor(max_depth=2,
                     min_child_weight=13,
                     n_estimators=85,
                     subsmaple=0.7,
                     missing=-999.0)
model.fit(X_train_transformed, y_train)
y_pred = model.predict(X_test_transformed)
rmse = MSE(y_pred, y_test)**0.5
rmse

[08:40:51] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

2.8311377376326097