<a href="https://colab.research.google.com/github/mini3713/mini3713/blob/main/occupancy/occupancy_profile_step1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://mdis.kostat.go.kr/dwnlSvc/ofrSurvSearch.do?curMenuNo=UI_POR_P9240

In [ ]:
import pandas as pd
ktus = pd.read_csv('/content/2019_9_20221108_04181.csv',header=None)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (86,87,88,89,92,93,98,102,104) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
ktus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21344 entries, 0 to 21343
Columns: 107 entries, 0 to 106
dtypes: float64(10), int64(6), object(91)
memory usage: 17.4+ MB

In [ ]:
ktus.head()

,0,1,2,3,4,5,6,7,8,9,...,97,98,99,100,101,102,103,104,105,106
0,1,1,0,3,56,5,1114011,1114011,1114011,1114011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,1,1,56,5,1114011,1114011,1114011,1114011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2,0,3,56,5,1114011,1114011,1114011,1114011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2,1,1,56,5,1114011,1114011,1114011,1114011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,1,4,1,46,4,1114011,1114011,1114011,1114011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 특성과 시계열 데이터 분리
ktus_c = ktus.iloc[:,:6]
ktus_t = ktus.iloc[:,6:]

In [ ]:
ktus_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21344 entries, 0 to 21343
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       21344 non-null  int64
 1   1       21344 non-null  int64
 2   2       21344 non-null  int64
 3   3       21344 non-null  int64
 4   4       21344 non-null  int64
 5   5       21344 non-null  int64
dtypes: int64(6)
memory usage: 1000.6 KB

In [ ]:
# 열 인덱스 지정
ktus_c.columns = ['fam','fam_code','wday','wday_code','age','age_code']

In [ ]:
ktus_c.head()

   fam  fam_code  wday  wday_code  age  age_code
0    1         1     0          3   56         5
1    1         1     1          1   56         5
2    1         2     0          3   56         5
3    1         2     1          1   56         5
4    2         1     4          1   46         4